src/conf/xml-resources/web-service-references/EnvioFormularioEntrada/wsdl/www.siza.com.co_80/WsComaiZfc/EnvioFormularioEntrada.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://efe/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://efe/">

<xs:element name="enviarFmE" type="tns:enviarFmE" />

<xs:element name="enviarFmEResponse" type="tns:enviarFmEResponse" />

<xs:complexType name="enviarFmE">
<xs:sequence>
<xs:element name="xml" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="enviarFmEResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>